<div class="skeleton-container h-100 overflow-auto pe-1">
  <p class="placeholder-wave item-skeleton">
    <span class="placeholder col-12 rounded-5 item-skeleton"></span>
  </p>
  <p class="placeholder-wave item-skeleton">
    <span class="placeholder col-12 rounded-5 item-skeleton"></span>
  </p>
  <p class="placeholder-wave item-skeleton">
    <span class="placeholder col-12 rounded-5 item-skeleton"></span>
  </p>
  <p class="placeholder-wave item-skeleton">
    <span class="placeholder col-12 rounded-5 item-skeleton"></span>
  </p>
  <p class="placeholder-wave item-skeleton">
    <span class="placeholder col-12 rounded-5 item-skeleton"></span>
  </p>
  <p class="placeholder-wave item-skeleton">
    <span class="placeholder col-12 rounded-5 item-skeleton"></span>
  </p>
  <p class="placeholder-wave item-skeleton">
    <span class="placeholder col-12 rounded-5 item-skeleton"></span>
  </p>
  <p class="placeholder-wave item-skeleton">
    <span class="placeholder col-12 rounded-5 item-skeleton"></span>
  </p>
  <p class="placeholder-wave item-skeleton">
    <span class="placeholder col-12 rounded-5 item-skeleton"></span>
  </p>
  <p class="placeholder-wave item-skeleton">
    <span class="placeholder col-12 rounded-5 item-skeleton"></span>
  </p>
</div>