<div class="h-100 p-3">
    <div class="row h-100">
        <div class="col-4 h-100 col-xs-12">
            <app-table
            [data]="data"
            [columns]="columns"
            [length]="length"
            (paginationChange)="updateParams($event)"
            (optionSelected)="handleOptionSelected($event)"
            (onSearchText)="search($event)"
            title="Paises"
            ></app-table>
        </div>
        <div class="col-8 h-100 col-xs-12">
            <mat-card class="h-100 px-3 pb-3">
                <div class="d-flex justify-content-end gap-2">
                    <button mat-icon-button (click)="accordion().openAll()"><mat-icon>unfold_more</mat-icon></button>
                    <button mat-icon-button (click)="accordion().closeAll()"><mat-icon>unfold_less</mat-icon></button>
                </div>
                <mat-accordion multi>
                    <mat-expansion-panel [hideToggle]="false" expanded="true" class="mb-1 border">
                        <mat-expansion-panel-header>
                            <mat-panel-title><h6 class="text-muted poppins-regular">PAIS</h6></mat-panel-title>
                        </mat-expansion-panel-header>
                        <app-crud
                        [templateOutlet]="customTemplate"
                        [optionSelected]="optionSelected"
                        [form]="form"
                        (submitForm)="executeService($event)"
                        (updateStatus)="updateStatus($event)"
                        [withCard]="false"
                        ></app-crud>
                    </mat-expansion-panel>
                    @if(hasOptionSelected){
                        <mat-expansion-panel [hideToggle]="false" expanded="false" class="mb-1 border">
                            <mat-expansion-panel-header>
                                <mat-panel-title><h6 class="text-muted poppins-regular">DEPARTAMENTOS</h6></mat-panel-title>
                            </mat-expansion-panel-header>
                            <app-select-list
                            [data]="listDepartments"
                            />
                        </mat-expansion-panel>
                        <mat-expansion-panel [hideToggle]="false" expanded="false" class="border">
                            <mat-expansion-panel-header>
                                <mat-panel-title><h6 class="text-muted poppins-regular">MUNICIPIOS</h6></mat-panel-title>
                            </mat-expansion-panel-header>
                            <app-select-list
                            [data]="listMunicipalities"
                            />
                        </mat-expansion-panel>
                    }
                </mat-accordion>
            </mat-card>
        </div>
    </div>
</div>

<ng-template #customTemplate>
    <form [formGroup]="form">
        <mat-form-field appearance="outline" class="col-12">
            <mat-label>Nombre</mat-label>
            <input 
            type="text" 
            matInput 
            formControlName="name"
            placeholder="Buscar">
            <mat-error *ngIf="form.get('name')?.invalid && form.get('name')?.touched">
                El campo es requerido
            </mat-error>
        </mat-form-field>
    </form>
</ng-template>
