<mat-card class="h-100 p-3">
  <h4 class="poppins-extrabold mb-3">{{ (!isEdit) ? 'Agregar' : 'Editar' }}</h4>
  <ng-container *ngTemplateOutlet="templateOutlet"></ng-container>
  <mat-card-actions class="d-flex justify-content-between">
    @if(isEdit){
      <mat-slide-toggle
      class="example-margin"
      [checked]="optionSelected.status"
      (change)="changeStatus($event)"
      [disabled]="false"
      color="primary"
      >
      {{ optionSelected.status ? 'Activo': 'Inactivo'}}
      </mat-slide-toggle> 
    }
    <div class="d-flex gap-2">
      @if(isEdit){
        <button 
        mat-flat-button 
        class="btn btn-light rounded-5"
        (click)="cancel()"
        >Cancelar</button>
      }
      <button 
      mat-flat-button 
      class="btn btn-primary rounded-5"
      [disabled]="validateForm()"
      (click)="save()"
      >{{ (!isEdit) ? 'Agregar' : 'Editar' }}</button>
    </div>
  </mat-card-actions>
</mat-card>
