.example-toolbar{
    min-height: 4em;
}
.mat-sidenav-container{
    height: calc(100% - 80px);
}
.example-toolbar{
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / .1), 0 1px 2px -1px rgb(0 0 0 / .1) !important;
}

.mat-drawer-container{
    background: none;
}

.mat-sidenav{
    width: 225px;
    background-color: var(--purple);
}

.item-sidenav{
    cursor: pointer;
}

.item-sidenav:hover{
    transition: ease-out 500ms;
    background-color: var(--gray-semi-ligth);
}
.menu-title{
    color: rgb(72, 113, 247) !important;
}

.mat-sidenav-content{
    background-color: #F1F5F9;
}

.item-sidenav-active{
    background-color: var(--gray-semi-ligth);

}